<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sjzc.edu.mapper.NoticeMapper" >


<select id="findTotalRecords"   resultType="int">

select count(*) from notice

</select>

<select id="findById"   resultType="cn.sjzc.edu.po.Notice"  parameterType="int">

select * from notice where id=#{id}

</select>

<update id="edit" parameterType="cn.sjzc.edu.po.Notice" >

	update notice set `title`=#{title},`content`=#{content} where `id`=#{id}

</update>


<select id="pageList" resultType="cn.sjzc.edu.po.Notice"  parameterType="cn.sjzc.edu.po.PageBean">

<!-- 注意，这里limit后边的两个占位符与接口中pageList方法的参数相匹配 -->
select * from notice limit #{startIndex},#{pageSize}


</select >

<insert id="add"  parameterType="cn.sjzc.edu.po.Notice" >
  INSERT INTO notice ( `title`,`content`,`time`)   VALUES(#{title},#{content},#{time})
</insert>

<delete id="delete" parameterType="int" >

	delete from notice where id=#{id}
</delete>

</mapper>