article {
    padding: 1%;
    width: 100%;
    height: 100%;
}
article form {
    width: 600px;
    height: 450px;
    box-sizing: border-box;
    border: 2px solid #2ecc71;
    border-radius: 10%;
    margin: 40px auto 0;
}
article form p {
    height: 40px;
    margin: 5px;
}
article form p input[type=search], input[type=password] {
    width: 400px;
    height: 30px;
    margin: 5px;
}
article form p input[type=submit] {
    margin-right: 5px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
}
article form p input[type=reset] {
    width: 80px;
    height: 30px;
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
    border: none;
    cursor: pointer;
}