@charset "UTF-8";
article {
    width: 100%;
    height: 100%;
    padding: 5%;
}
table {
    width: 1200px;
    height: 400px;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #e74c3c;
    color: white;
}
tr, td {
    border: 1px solid #ccc;
}
td {
    width: 8%;
}
table a {
    text-decoration: none;
    color: white;
}
article input[type=Number] {
    font-size: 16px;
    background-color: #000;
    color: #fff;
    height: 30px;
    width:100px;
    border: none;
    outline: none;
    text-align:center;
}
article h3 {
    position: absolute;
    right: 4%;
    top: 22%;
    width: 200px;
    height: 30px;
}
article h3 button:nth-child(1) {
    margin-right: 5px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
    display:none;
    
}
article h3 button:nth-child(2) {
    width: 80px;
       display:none;
    height: 30px;
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
    border: none;
    cursor: pointer;
  
}

.tip {
    height: 40px;
    width: 100%;
    font-size: 24px;
    margin: -20px 0 20px 0;
    box-sizing: border-box;
    border: 2px solid #2ecc71;
    border-radius: 20px;
}
.tip span {
    position: relative;
    left: 0px;
    animation: mymove 5s infinite;
    -webkit-animation: mymove 5s infinite;/* 姘稿姩 */
    animation-direction: alternate;/* 寰�杩� */
    animation-timing-function: linear;/* 鍖�閫� */
}
@keyframes mymove {
    from {
        left: -700px;
    }
    to {
        left: 600px;
    }
}
@-webkit-keyframes mymove {
    from {
        left: -700px;
    }
    to {
        left: 600px;
    }
}
table {
    line-height: 10px;
}

.top{
	 font-size:22px;
	 margin-top:30px;
}
.top a{
	  text-decoration: none;
    color:  #000;
}
.top a:hover{
	 
    color: #2ecc71;
}















